<div id="<%= dom_id crew %>">
  <p>
    <strong>Nombre:</strong>
    <%= crew.nombre %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= crew.mail %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= crew.group_id %>
  </p>

</div>
